<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Categories", categories_path %></li>
  <li><%= link_to "Courses", courses_path %></li>
  <li><%= link_to "Tutors", tutors_path %></li>
</ul>
